.category-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-header h2 {
  color: var(--secondary-color);
}

.add-category-btn {
  height: 30px;
  width: fit-content;
  border: 1px solid var(--primary-color);
  outline: none;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}

.input-control {
  margin: 10px;
}
.input-control input {
  display: block;
  border-radius: 20px;
  padding: 0 5px 0 10px;
  height: 30px;
  width: 100%;
  border: 1.5px solid var(--primary-color);
}
.error-message {
  font-size: small;
  color: var(--red);
}

.selected-image {
  margin: 10px;
}

.submit {
  width: 100%;
  border: 1px solid var(--primary-color);
  outline: none;
  background-color: var(--primary-color);
  color: var(--white);
  border-radius: 5px;
  height: 30px;
  width: 100px;
  cursor: pointer;
}

.categories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media (max-width: 796px) {
  .categories {
    justify-content: center;
  }
}
