.card {
    width: 300px;
    border: 1px solid var(--light-grey);
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  h3{
    color: var(--secondary-color);
  }
  .card-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .card-buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .card-button {
    padding: 5px 10px;
    border: none;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 4px;
    cursor: pointer;
  }
  
  .card-button:hover {
    background-color: var(--primary-color);
  }
  